
  <%= render( partial: 'shared/growthTop') %>   
  
  <div class="col-md-7">
	<div class="contentGrowth">
	
	<p class="first-par">Bebi juaj është më në fund këtu! Pas nëntë muajsh pritje, duke menduar dhe parashikuar, ajo pako e butësisë me erë të ëmbël është në krahët tuaj.</p>

	<p>Ndoshta nuk e prisnit që i porsalinduri juaj të ishte me sy të fryrë dhe i rrudhur me një majë kone, por ka kuptim duke marrë parasysh qëndrimin e saj të gjatë në mitrën tuaj të ngushtë dhe të holluar me ujë, e ndjekur nga një shtrydhje e ngushtë përmes kanalit të lindjes.</p>

	<p>Për fat të mirë ajo është e bukur për ju, dhe për fat të mirë ajo do të bëhet edhe më fotogjene me përparimin e javës.</p>

	<p>Mos harroni të shijoni të gjitha ato përqafime të para, të ushqyerit e parë dhe kontaktet e para. Tani është koha për të filluar procesin e lidhjes me anëtarin më të ri të familjes tuaj.</p>

	<p>Mbani në mend, ato ndjenja të dashurisë dhe lidhjes nuk ndodhin gjithmonë automatikisht, por nganjëherë u duhet kohë për tu rritur gjatë javëve dhe muajve përpara.</p>

	<p>Çfarë mund të prisni gjatë javës së parë të të porsalindurit tuaj? Ja një paraqitje e shkurtër.</p>

	
	<div class="your-baby__dev">
	<div class="your-baby__dev__descr-c">
	<h3 class="your-baby__dev__descr-c__headline">Në një vështrim</h3>
	<div class="your-baby__dev__descr-c__items">
	<div class="your-baby__dev__descr-c__items__item">
	<div class="your-baby__dev__descr-c__items__item__img-c"><img src="//images.agoramedia.com/wte3.0/gcms/fy-moon-white.svg" class="rounded-circle your-baby__dev__descr-c__items__item__img-c__img"></div>
	<div class="your-baby__dev__descr-c__items__item__body-c">
	<div class="your-baby__dev__descr-c__items__item__body-c__headline">Gjumi</div>
	<div class="your-baby__dev__descr-c__items__item__body-c__body">Të porsalindurit deri në 3 ose 4 muajsh kanë nevojë për 14 deri në 17 orë gjumë në një periudhë 24-orëshe, zakonisht zgjohen çdo dy deri në katër orë për të ngrënë.</div></div></div>
	<div class="your-baby__dev__descr-c__items__item"><div class="your-baby__dev__descr-c__items__item__img-c"><img src="//images.agoramedia.com/wte3.0/gcms/at-a-glance-mbm-bottle.svg" class="rounded-circle your-baby__dev__descr-c__items__item__img-c__img"></div>
	<div class="your-baby__dev__descr-c__items__item__body-c">
	<div class="your-baby__dev__descr-c__items__item__body-c__headline">Të ushqyerit</div>
	<div class="your-baby__dev__descr-c__items__item__body-c__body">Foshnjat të ushqyer me qumështin e nënës duhet të hanë sa të duan në këtë moshë, por një rregull i përgjithshëm është afërsisht 500 deri në 700 mililitra qumësht gjiri ose formulë në 24 orë. </div></div></div>
	<div class="your-baby__dev__descr-c__items__item"><div class="your-baby__dev__descr-c__items__item__img-c"><img src="//images.agoramedia.com/wte3.0/gcms/at-a-glance-fy-mbm-weight.svg" class="rounded-circle your-baby__dev__descr-c__items__item__img-c__img"></div>
	<div class="your-baby__dev__descr-c__items__item__body-c"><div class="your-baby__dev__descr-c__items__item__body-c__headline">A e keni ditur?</div><div class="your-baby__dev__descr-c__items__item__body-c__body">Foshnja do të humbasë peshë pas lindjes. Pothuajse të gjithë të sapolindurit do të largohen nga spitali ose qendra e lindjes me peshë më të vogël sesa kur ata kontrolluan për herë të parë. </div></div></div></div></div></div>

	<br/>

	<p>Çfarë do të jetë në gjendje të bëjë fëmija juaj këtë javë? Ajo do të jetë në gjendje të ngrejë kokën për pak kohë kur vendoset në bark. Ajo gjithashtu do të jetë në gjendje të përqendrohet në objektet që janë brenda 20 deri në 30 centimetra larg - pikërisht distanca që do të jetë fytyra juaj kur e shikoni, diçka që me siguri do të bëni shumë këtë javë (dhe gjatë javëve në vijim)!</p>

	<p>Por mbase më e dukshmja e sjelljeve të saj të porsalindur do të jenë ato reflekset e porsalindura të integruara që dalin si çështje standarde për të gjithë të porsalindurit, duke përfshirë refleksin e rrënjosjes shumë të rëndësishme (kur faqja e saj goditet ajo do të kthehet në atë drejtim), e cila ndihmon foshnjën lokalizoni gjoksin ose shishen dhe refleksin e thithjes (mënyra e natyrës për të siguruar që fëmija të marrë ato ushqime në gji ose shishe).</p>

	<p>Mos u habitni nëse fëmija juaj në fillim duket shumë i përgjumur. Një pritje e gjatë e përgjumjes së theksuar ditën e dytë dhe madje të tretë të jetës duhet të pritet - dhe ndoshta e krijuar për t'i dhënë të sapolindurve një shans të shërohen nga puna rraskapitëse e lindjes. Dhe keni menduar se jeni i vetmi që jeni lodhur!</p>

	<p>Ajo do të ketë periudha më të gjata zgjimi ndërsa javët përparojnë. Tani për tani, përfitoni nga përgjumja e saj dhe përpiquni të pushoni kur ajo pushon. </p>

	<br/>

	<p class="linkBackHome"><a onclick="document.location.href='/';"><< Kthim në faqen fillestare</a></p>

	</div>
  </div>


 <div class="right-column">
     <%= render(
      partial: 'shared/growthLinks'      
    ) %>   
 </div>


</div>

