<div class='well well-lg' style="height:150px">
   <div style="float:left;">    
          <img class="logo_img" src='<%= image_path('emra_logo.png') %>' onclick="document.location.href='/';"></a>
    </div>  
    <div style="margin-top:26px !important;"><h2><strong>&nbsp;&nbsp;&nbsp;Foshnja e sapolindur dhe 1 javëshe</strong></h2></div>
</div>