
/*
Albanian names generator

*/

use master
GO

drop database names
go

create database names collate albanian_ci_ai
go

use names
go

if object_id('const.gender') is not null
	drop table const.gender
go
if object_id('const.yesno') is not null
	drop table const.yesno
go
if object_id('const.name_lengh') is not null
	drop table const.name_lengh
go
if object_id('const.name_type') is not null
	drop table const.name_type
go
if object_id('const.name_religion') is not null
	drop table const.name_religion
go
if object_id('const.name_regularity') is not null
	drop table const.name_regularity
go

if (SELECT schema_name FROM information_schema.schemata WHERE schema_name = 'const') is not null
 drop schema const
go
create schema const
go

create table const.yesno
(
	oid int not null,
	primary key(oid),
	name nvarchar(5)
)
go

insert into const.yesno values(1,'Yes')
insert into const.yesno values(2,'No')
go

create table const.gender
(
	oid int not null,
	primary key(oid),
	name nvarchar(10)
)
go

insert into const.gender values (1,'Djalë')
insert into const.gender values (2,'Vajzë')
go

create table const.name_lengh
(
	oid int not null,
	primary key(oid),
	name nvarchar(20)
)
go

insert into const.name_lengh values(1,'I shkurtë')
insert into const.name_lengh values(2,'I mesëm')
insert into const.name_lengh values(3,'I gjatë')
go

create table const.name_type
(
	oid int not null,
	primary key(oid),
	name nvarchar(30)
)
go
insert into const.name_type values(1,'I vjetër (tradicional)')
insert into const.name_type values(2,'Ilir')
insert into const.name_type values(3,'Modern')
go

create table const.name_religion
(
	oid int not null,
	primary key(oid),
	name nvarchar(20)
)
go
insert into const.name_religion values(1,'Mysliman')
insert into const.name_religion values(2,'Tjetër')
go

create table const.name_regularity
(
	oid int not null,
	primary key(oid),
	name nvarchar(20)
)
go
insert into const.name_regularity values(1,'I shpeshë')
insert into const.name_regularity values(2,'I rrallë')
go


if object_id('app.names') is not null
	drop table app.names
go

if (SELECT schema_name FROM information_schema.schemata WHERE schema_name = 'app') is not null
 drop schema app
go
create schema app
go

--name, gender, name_type, name_length, name_common, rating
create table app.names
(
	oid int not null identity(1,1),
	primary key(oid),
	name nvarchar(50) not null,
	gender int  null,
	religion int null,
	name_type int  null,
	is_ilir tinyint null,
	name_length int  null,
	regularity int  null,
	meaning nvarchar(400) null,
	rating int
)
go

create proc app.udsp_random_name(@nr varchar(2),@gender int=null) as
begin
declare @sql varchar(200)
if (@gender=null)
	set @sql = 'select top ' + @nr +' name,meaning from app.names order by newid()'
else
	if (@gender=1)
		set @sql = 'select top ' + @nr +' name,meaning from app.names where gender=1 order by newid()'
	else
		set @sql = 'select top ' + @nr +' name,meaning from app.names where gender=2 order by newid()'
exec(@sql)
end
go

--exec app.udsp_random_name '10',2

insert into app.names(name,meaning,gender,religion,is_ilir,name_length) values ( 'Adamat','nga nje emer njeriu, ilir','1','2','1','2')
insert into app.names(name,meaning,gender,religion,is_ilir,name_length) values ( 'Adan','nga nje emer njeriu, ilir','1','2','1','1')
insert into app.names(name,meaning,gender,religion,is_ilir,name_length) values ( 'Admet','nga nje emer njeriu, ilir','1','2','1','2')
go


select * from app.names
go