
  <%= render( partial: 'shared/growthTop') %>   
 
  <div class="col-md-7">
	<div class="contentGrowth">
	
	<p class="first-par">Bebi juaj është më në fund këtu! Pas nëntë muajsh pritje, duke menduar dhe parashikuar, ajo pako e butësisë me erë të ëmbël është në krahët tuaj.</p>

	<p>Ndoshta nuk e prisnit që i porsalinduri juaj të ishte me sy të fryrë dhe i rrudhur me një majë kone, por ka kuptim duke marrë parasysh qëndrimin e saj të gjatë në mitrën tuaj të ngushtë dhe të holluar me ujë, e ndjekur nga një shtrydhje e ngushtë përmes kanalit të lindjes.</p>

	<p>Për fat të mirë ajo është e bukur për ju, dhe për fat të mirë ajo do të bëhet edhe më fotogjene me përparimin e javës.</p>

	<p>Mos harroni të shijoni të gjitha ato përqafime të para, të ushqyerit e parë dhe kontaktet e para. Tani është koha për të filluar procesin e lidhjes me anëtarin më të ri të familjes tuaj.</p>

	<p>Mbani në mend, ato ndjenja të dashurisë dhe lidhjes nuk ndodhin gjithmonë automatikisht, por nganjëherë u duhet kohë për tu rritur gjatë javëve dhe muajve përpara.</p>

	<p>Çfarë mund të prisni gjatë javës së parë të të porsalindurit tuaj? Ja një paraqitje e shkurtër.</p>

	<p>Çfarë do të jetë në gjendje të bëjë fëmija juaj këtë javë? Ajo do të jetë në gjendje të ngrejë kokën për pak kohë kur vendoset në bark. Ajo gjithashtu do të jetë në gjendje të përqendrohet në objektet që janë brenda 20 deri në 30 centimetra larg - pikërisht distanca që do të jetë fytyra juaj kur e shikoni, diçka që me siguri do të bëni shumë këtë javë (dhe gjatë javëve në vijim)!</p>

	<p>Por mbase më e dukshmja e sjelljeve të saj të porsalindur do të jenë ato reflekset e porsalindura të integruara që dalin si çështje standarde për të gjithë të porsalindurit, duke përfshirë refleksin e rrënjosjes shumë të rëndësishme (kur faqja e saj goditet ajo do të kthehet në atë drejtim), e cila ndihmon foshnjën lokalizoni gjoksin ose shishen dhe refleksin e thithjes (mënyra e natyrës për të siguruar që fëmija të marrë ato ushqime në gji ose shishe).</p>

	<p>Mos u habitni nëse fëmija juaj në fillim duket shumë i përgjumur. Një pritje e gjatë e përgjumjes së theksuar ditën e dytë dhe madje të tretë të jetës duhet të pritet - dhe ndoshta e krijuar për t'i dhënë të sapolindurve një shans të shërohen nga puna rraskapitëse e lindjes. Dhe keni menduar se jeni i vetmi që jeni lodhur!</p>

	<p>Ajo do të ketë periudha më të gjata zgjimi ndërsa javët përparojnë. Tani për tani, përfitoni nga përgjumja e saj dhe përpiquni të pushoni kur ajo pushon. </p>

	<br/>

	<p class="linkBackHome"><a onclick="document.location.href='/';"><< Kthim në faqen fillestare</a></p>

	</div>
  </div>


 <div class="right-column">
   <h4><strong>Zhvillimi i foshnjës</strong></h4>
   
   <div class="divRightGrowth"> 
    <h6><strong>Foshnja e sapolindur dhe 1 javëshe</strong></h6>
    <a href="/foshnja-e-posalindur"><img src="/assets/foshnja1.jpg" /></a>
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 2 javëshe</strong></h6>
     <img src="/assets/foshnja2.jpg" />
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 3 javëshe</strong></h6>
     <img src="/assets/foshnja3.jpg" />
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 4 javëshe</strong></h6>
     <img src="/assets/foshnja4.jpg" />
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 5 javëshe</strong></h6>
     <img src="/assets/foshnja5.jpg" />
   </div>

    <div class="divRightGrowth"> 
     <h6><strong>Foshnja 6 javëshe</strong></h6>
     <img src="/assets/foshnja6.jpg" />
   </div>

   <div class="divRightGrowth"> 
     <h6><strong>Foshnja 7 javëshe</strong></h6>
     <img src="/assets/foshnja7.jpg" />
   </div>

  

</div>

</div>

