/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */




.logo {
	margin-top: 14px;
}
.logo_img {
	margin-left: 8px;
}
.span1 {
	width: 121px;
}

.span2 {
	width: 162px;
}

.span3 {
	width: 50px;
}

.span4 {
	width: 140px;
}

.span5 {
	width: 100px;
}

[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.filter_field
{
	display: inline-block;
	padding: 0 3px;
}
.filter_btn
{
	display: inline-block;
	margin-top:25px;
	margin-left: 96px;
}
#begins_with {
	margin-bottom: 10px;
}
#letters {
	margin-top:20px;
	margin-left:10px;
}

label {
	font-weight: normal;
}

#filterrific_results{
	margin-bottom:40px;
}

.table {
	margin-bottom:0;
}
.subheader {
	font-size: 12px;
	font-style: italic;
}
.results_info {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 10px;
}
#results_number {
	font-weight: bold;
}
.scrollToTop{
	width:64px; 
	height:64px;
	position:fixed;
	top:570px;
	right:40px;
	display:none;
	background: url('up.png') no-repeat 0px 0px;
}
.scrollToTop:hover{
	text-decoration:none;
}
.panel-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size:12px;
}
.stats {
	font-size: 12px;
}

.stat_item {
	padding: 5px;
}

.footer {
	width: 100%;
	height: 48px;
	font-size:12px;
	text-align: center;
	margin-top:40px;
}

.random {
	text-align: center;
	margin-top:16px;
	
}
.random_f {
	text-align: center;
	margin-top:26px;
	margin-bottom:16px;
	
}
.random_name {
	font-size: 38px;
	font-family: 'Great Vibes', cursive;
}
.random_meaning {
	font-size:11px;
	font-style: italic;
}
.table-col-name {
	width:50px !important;
}
.table-col-gender {
	width:20px !important;
}
.table-col-meaning {
	width:180px !important;
}
.table-col-votes {
	width:40px !important;
}


.male-name {
	color: #5181C4;
}

.female-name {
	color: #D121C2;
}

.vote-icon {
	cursor: pointer;
}

.vote-icon:hover { 
     background-image: url("voteup_hover.png");
}





/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
  	
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel {
   		display: none;
   	}

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
  	
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}
}









/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}



/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}


/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}


}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}


/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}


/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {
  	.logo_img {
  		display: block;
   		margin-left: auto !important;
   	    margin-right: auto !important;
   	}
   	.panel  {
   		display: none;
   	}

}