/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

p {
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    font-size: 1.3em;
    color: #333;
    font-weight: 400;
    line-height: 1.625em;
    letter-spacing: -0.3px;
}

.logo {
	margin-top: 14px;
}
.logo_img {
	margin-left: 8px;
	cursor: pointer;
}
.span1 {
	width: auto;
}

.span2 {
	width: auto;
}

.span3 {
	width: auto;
}

.span4 {
	width: 140px;
}

.span5 {
	width: 100px;
}

[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.filter_field
{
	display: inline-block;
	padding: 0 3px;
}
.filter_btn
{
	display: inline-block;
	margin-top:25px;	
}
#begins_with {
	margin-bottom: 14px;
}
#letters {
	margin-left:10px;
}

label {
	font-weight: normal;
}

#filterrific_results{
	float:left;
	margin-bottom:40px;
	width:405px !important;
}

.table {
	margin-bottom:0;
}
.subheader {
	font-size: 12px;
	font-style: italic;
}
.results_info {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
}
#results_number {
	font-weight: bold;
}
.scrollToTop{
	width:64px; 
	height:64px;
	position:fixed;
	top:570px;
	right:40px;
	display:none;
	background: url('up.png') no-repeat 0px 0px;
}
.scrollToTop:hover{
	text-decoration:none;
}
.panel-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size:12px;
}
.stats {
	font-size: 12px;
}

.stat_item {
	padding: 5px;
}

.footer {
	width: 100%;
	height: 48px;
	font-size:12px;
	text-align: center;
	margin-top:40px;
}

.random {
	text-align: center;
	margin-top:16px;
	
}
.random_f {
	text-align: center;
	margin-top:26px;
	margin-bottom:16px;
	
}
.random_name {
	font-size: 38px;
	font-family: 'Great Vibes', cursive;
}
.random_meaning {
	font-size:11px;
	font-style: italic;
}
.table-col-name {
	width:50px !important;
}
.table-col-gender {
	width:20px !important;
}
.table-col-meaning {
	width:180px !important;
}
.table-col-votes {
	width:40px !important;
}


.male-name {
	font-size: 20px !important;
	color: #5181C4;
}

.female-name {
	font-size: 20px !important;
	color: #D121C2;
}

.meaning {
	font-size: 20px !important;
}

.vote-icon {
	cursor: pointer;
}

.vote-icon:hover { 
     background-image: url("voteup_hover.png");
}


.right-column {
	display: inline-block;
	float:right;
	margin-left:49px;
	margin-top:22px;
	
}

.col-md-9 {
	width:auto !important;
}


.names_div {
	width:120% !important;
}

.container {
	width: 750px !important;
}

.top-names-date {
	color:silver;
}

.divRightGrowth {
	margin-top:30px;
	opacity: 0.7;
}

.divRightGrowth:hover {
	opacity: 1;
}

.contentGrowth {
	float: left;
	display: block;
	text-align: justify;
	width:110% !important;
	
}

.first-par::first-letter {
	font-size: 200%;
	color: #8A2BE2;
}

.linkBackHome {
	font-weight: bold;
	cursor: pointer;
}

.your-baby__dev__descr-c {
    background-color: #fbf5e9;
    padding: 0 20px 0 20px;
}

.your-baby__dev__descr-c__items__item:not(:last-child) {
    border-bottom: 1px solid #e2e8e9;
}

.your-baby__dev__descr-c__items__item {
    padding: 25px 0 25px 0;
}

.your-baby__dev__descr-c__items__item__body-c__body {
    font-family: "Open Sans",Arial,Helvetica,sans-serif !important;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    line-height: 1.625em;
    letter-spacing: -.3px;
}

.your-baby__dev__descr-c__headline {
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 1.156rem;
    color: #333;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: -0.2px;
    padding-top: 25px;
    margin: 0;
}

.your-baby__dev__descr-c__items__item__img-c__img {
    width: 60px !important;
    height: 60px !important;
}
.rounded-circle {
    border-radius: 50% !important;
	height: 100px !important;
}
img {
    vertical-align: middle;
    border-style: none;
}


.your-baby__dev__descr-c__items__item__img-c {
    float: left;
    margin-right: 13px;
}

.your-baby__dev__descr-c__items__item__body-c__headline {
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: 700;
    line-height: 1.38rem;
    letter-spacing: -.3px;
	margin-bottom: 8px;
}

.your-baby__dev__descr-c__items__item:not(:last-child) {
    border-bottom: 1px solid #e2e8e9;
}
.your-baby__dev__descr-c__items__item {
    padding: 25px 0 25px 0;
}

@media all and (min-width:100px) and (max-width: 1024px) {
  /* put your css styles in here */

  .contentGrowth {
	float: left;
	display: block;
	text-align: justify;
	width:60% !important;
  }
}

