<!DOCTYPE html>
<html>
<head>
  <title>EMRA.info | databaza e emrave shqipëtarë</title>
  <meta name="description" content="databaza e emrave shqipëtarë" />
  <meta name="keywords" content="emra, emra shqip, emra shqip per djem, emra shqip per vajza, emra musliman" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-content container">
<div style='margin-bottom: 20px;'></div>
<div class="col-md-3">
  <h1>EMRA.info</h1>
  <p class="subheader">databaza e emrave shqipëtarë</p>
</div>
<%= yield %>

<div class="footer">
	©2014 EMRA.info
</div>

<a href="#" title="Shko në fillim" class="scrollToTop" />
</body>
</html>
