<!DOCTYPE html>
<html>
<head>
  <title>EMRA.info | databaza e emrave shqipëtarë</title>
  <meta name="description" content="databaza e emrave shqipëtarë" />
  <meta name="keywords" content="emra, emra shqip, emra shqip per djem, emra shqip per vajza, emra musliman" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
